{% load static %}
<section class="section p-2" style="background-color:#191970">
        <div class="container">
            <nav class="navbar navbar-expand-lg" data-bs-theme="dark">
                <a class="navbar-brand" href="{% url 'index' %}">
                    <img src="{% static 'img/logo-branco.png'%}" width="50" height="50">
                </a>
                <div class="container-fluid">
                    <a class="navbar-brand" href="{% url 'index' %}">Início</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            {% if request.user.is_authenticated %}
                            {% if perms.clientes.add_cliente %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarCliente" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    Clientes
                                </a>

                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="{% url 'cliente_adicionar' %}">Cadastrar Cliente</a></li>
                                    <li><a class="dropdown-item" href="{% url 'clientes' %}">Consultar Clientes</a></li>
                                </ul>
                                {% endif %}
                            </li>
                            {% if perms.proprietarios.add_proprietario %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarProprietario" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    Proprietarios
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="{% url 'proprietario_adicionar' %}">Cadastrar Proprietario</a></li>
                                    <li><a class="dropdown-item" href="{% url 'proprietarios' %}">Consultar Proprietários</a></li>
                                </ul>
                            </li>
                            {% endif %}

                            {% if perms.corretores.view_corretor %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarCorretor" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    Corretores
                                </a>
                                <ul class="dropdown-menu">
                                    {% if perms.corretores.add_corretor %}
                                    <li><a class="dropdown-item" href="{% url 'corretor_adicionar' %}">Cadastrar Corretor</a></li>
                                    {% endif %}
                                    <li><a class="dropdown-item" href="{% url 'corretores' %}">Consultar Corretores</a></li>
                                </ul>
                            </li>
                            {% endif %}

                            {% if perms.imoveis.view_imovel %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarImoveis" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    Imóveis
                                </a>
                                <ul class="dropdown-menu">
                                    {% if perms.imoveis.add_imovel %}
                                    <li><a class="dropdown-item" href="{% url 'imovel_adicionar' %}">Cadastrar Imóvel</a></li>
                                    {% endif %}
                                    <li><a class="dropdown-item" href="{% url 'imoveis' %}">Consultar Imóveis</a></li>
                                </ul>
                            </li>
                            {% endif %}

                            {% if perms.visita.view_visita %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarVisitas" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    Visitas
                                </a>
                                <ul class="dropdown-menu">
                                    {% if perms.visita.add_visita %}
                                    <li><a class="dropdown-item" href="{% url 'visita_adicionar' %}">Cadastrar Visita</a></li>
                                    {% endif %}
                                    <li><a class="dropdown-item" href="{% url 'visitas' %}">Consultar Visitas</a></li>
                                </ul>
                            </li>
                            {% endif %}

                            {% if perms.transacoes.view_transacao %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarTransacoes" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    Transações
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="{% url 'transacao_adicionar' %}">Nova transação</a></li>
                                    <li><a class="dropdown-item" href="{% url 'transacoes' %}">Transações ativas</a></li>
                                </ul>
                            {% endif %}

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarLogin" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    Usuário: {{ request.user.username }}
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end">
                                    <li><a class="dropdown-item" href="{% url 'alterar_senha' %}">Alterar senha</a></li>
                                    <li>
                                        <form action="{% url 'logout' %}" method="post" class="m-0">
                                            {% csrf_token %}
                                            <button class="dropdown-item" type="submit">Sair</button>
                                        </form>
                                    </li>
                                </ul>
                            </li>
                            {% else %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarAcesso" role="button"
											data-bs-toggle="dropdown" aria-expanded="false">
											Acesso
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="{% url 'login' %}">Login</a></li>
                                </ul>
                            </li>

                        </ul>
                        {% endif %}


                    </div>
                </div>
            </nav>
        </div>
    </section>