{% extends "principal.html" %}
{% load static %}
{% block content %}
    <section class="section p-2" style="background-color:#191970;">
        <div class="container text-center text-white">
            <h1 class="display-1" style="font-weight:bold">JATIMOV</h1>
            <h1 class="display-4">Seu imóvel dos sonhos está aqui</h1>
        </div>
    </section>
      <div class="container-fluid d-flex justify-content-between" style="background-color:#191970;">
       <a href="{% url 'clientes' %}"><button type="button" class="btn btn-primary btn-lg mx-2">Ver clientes cadastrados</button></a>
       <a href="{% url 'proprietarios' %}"><button type="button" class="btn btn-primary btn-lg mx-2">Ver proprietários cadastrados</button></a>
       <a href="{% url 'corretores' %}"><button type="button" class="btn btn-primary btn-lg mx-2">Ver corretores cadastrados</button></a>
       <a href="{% url 'imoveis' %}"><button type="button" class="btn btn-primary btn-lg mx-2">Ver imóveis cadastrados</button></a>
       <a href="{% url 'visitas' %}"><button type="button" class="btn btn-primary btn-lg mx-2">Ver visitas cadastradas</button></a>
      </div>
{% endblock %}