{% extends 'principal.html' %}
{% load django_bootstrap5 %}

{% block content %}
  <section class="py-5">
    <div class="container">
      <div class="card shadow-lg mx-auto" style="max-width: 700px;">
        <div class="card-header bg-primary text-white text-center">
          <h3 class="mb-0">Editar imóvel</h3>
        </div>
        <div class="card-body px-4 py-4">
          <form method="post" enctype="multipart/form-data" novalidate>
            {% csrf_token %}


            {% if request.session.dados_etapa1.tipo_venda %}
              {% bootstrap_field form.valor_venda layout='horizontal' %}
            {% endif %}

            {% if request.session.dados_etapa1.tipo_aluguel %}
              {% bootstrap_field form.valor_aluguel layout='horizontal' %}
            {% endif %}

            {% bootstrap_form form exclude='valor_venda,valor_aluguel' layout='horizontal' %}

            <div class="d-flex justify-content-between mt-4">
              <a href="{% url 'imoveis' %}" class="btn btn-secondary">
                <i class="bi bi-arrow-left me-1"></i> Voltar
              </a>
              <button type="submit" class="btn btn-success">
                <i class="bi bi-check2-circle me-1"></i> Atualizar cadastro
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
