<h3>Ola <strong>{{cliente}}</strong>!</h3>

<p>Estamos enviando este e-mail para comunicar que deu tudo certo com o seu processo de {{ tipo_legivel|lower }}! </p>




<h3>Dados da transação</h3>
<p><strong>Imóvel: </strong> {{ imovel }} </p>
<p><strong>Endereço: </strong> {{ imovel.endereco }} </p>
<p><strong>Proprietário: </strong> {{ proprietario }} </p>
<p><strong>Valor de {{ tipo_legivel|lower }}: </strong> {{ valor }} </p>
<p><strong>Corretor responsável pela transação: </strong> {{ corretor }} </p>


<p><strong>Esperamos que seu novo lar seja encantador igual você!</strong><p>

<p style="color: #191970"><strong>JATIMOV</strong></p>